/*============= fuentes =============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-main: #3e1e68;

  --font-main: "Poppins";
  --font-sec: "Nunito";
  --font-ter: "Dancing Script";
  --color-cuar: #5d2f77;
  --color-sec: #e45a92;
  --color-ter: #ffacac;
  --color-quin: #fddbdb;
  --text-main: #f7efef;
  --text-sec: #14012e;
  --text-quin: #853443;
}
/*============= reset =============*/
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-sec);
}

/*============= SECTION HEADER =============*/
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
  background-color: var(--color-cuar);
}

header h4 {
  font-family: var(--font-ter);
  color: var(--text-main);
  font-size: 2.5rem;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 15px;
}

header img {
  width: 80px;
  height: 80px;
}
.links-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
nav {
  width: 80%;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}
li {
  margin: auto 4px;
}
.links-header a {
  text-decoration: none;
  color: var(--text-main);
}

.button-main {
  text-transform: uppercase;
  background-color: var(--color-sec);
  color: var(--text-main);
  border: none;
  padding: 8px;
}
/*============= SECTION HERO =============*/
.hero {
  /*background-image: url(../assets/hero.jpg);*/
  /*background: linear-gradient(
        to bottom,
        rgba(1, 1, 1, 0.8) 10%,
        rgba(1, 1, 1, 0.8) 20%,
        rgba(1, 1, 1, 0.1) 100%
      )
      0% 0% / cover fixed,
    url(../assets/hero.jpg); */
  background-image: url(../assets/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.hero h1 {
  font-family: var(--font-main);
  text-transform: capitalize;
  color: var(--color-ter);
  text-shadow: 1px 2px 4px black;
  font-size: 80px;
  font-weight: 900;
  margin-top: 90px;
  margin-bottom: 0;
}
.hero h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  color: var(--text-main);
  font-family: var(--font-main);
}
.hero span{
  font-family: var(--font-ter);
  font-size: 3rem;
}
.hero button {
  margin-top: 50px;
}
/*============= SECTION EXPERIENCE =============*/
.experience {
  background-color: var(--color-quin);
  color: var(--color-sec);
}
.experience-contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0 30px 0;
}
.experience-title-e-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 1020px;
}
.experience-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.experience-title h4 {
  color: var(--color-main);
  text-transform: uppercase;
}
.experience-title h2 {
  text-transform: uppercase;
  font-size: 35px;
  font-family: var(--font-sec);
  color: var(--text-quin);
}
.experience-title span {
  color: var(--color-main);
  font-family: var(--font-ter);
  font-size: 50px;
}
.experience-info {
  width: 40%;
}
.experience-info p {
  text-transform: capitalize;
  color: var(--color-main);
  font-size: 800;
}
.experience-cards {
  width: 90%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.experience-card {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.experience-card h5 {
  font-size: 15px;
  color: var(--text-quin);
}
.experience-card h3 {
  font-family: var(--font-main);
  color: var(--color-main);
  text-transform: uppercase;
}
.experience-card p {
  text-transform: capitalize;
  color: var(--color-main);
}
.experience-card-2 {
  width: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.experience-card-2 h5 {
  font-size: 15px;
  color: var(--text-quin);
}
.experience-card-2 h3 {
  font-family: var(--font-main);
  color: var(--color-main);
  text-transform: uppercase;
}
.experience-card-2 p {
  text-transform: capitalize;
  color: var(--color-main);
}
/*============= SECTION CORTE IMAGEN =============*/
.corte-imagen {
  background: 
  radial-gradient(
    circle,
    rgba(1, 1, 1, 0.7) 0%,
    rgba(1, 1, 1, 0.4) 60%,
    rgba(1, 1, 1, 0.1) 100%
  ) 50% 50% / cover fixed,
  url(../assets/fondo2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
  height: 70dvh;
  width: 100%;
   display: flex;
justify-content: center;
align-items: center;
}
.corte-imagen h2{
  color: var(--text-main);
  font-size: 55px;
text-shadow: 1px 2px 2px rgb(2, 2, 2);
font-family: var(--font-main);
font-weight: 200;
}
.corte-imagen span{
  font-family: var(--font-ter);
  font-weight: 900;
  font-size: 110px;
  text-transform: capitalize;
  color: var(--color-ter);
  text-shadow: 1px 2px 2px rgb(110, 110, 110);
}
/*============= SECTION DESTINY =============*/
.destiny {
  background-color: var(--text-quin);
  width: 100%;
  color: var(--color-ter);
  text-shadow: 1px 2px 4px black;
}
.contenedor-destiny {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 80px 0 80px 0;
}
.titles-destiny h4 {
  color: var(--text-main);
  font-size: 25px;
}
.titles-destiny h2 {
  font-size: 35px;
  font-family: var(--font-sec);
}
.titles-destiny span{
  font-family: var(--font-ter);
  font-size: 60px;
}
.titles-destiny {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.destiny-cards {
  display: flex;
  gap: 120px;
}
.material-symbols-outlined {
  color: var(--color-sec);
  font-size: 100px;
}
.destiny-card {
  display: flex;
  align-items: center;
  gap: 25px;
}

.destiny-card h3 {
  color: var(--text-main);
  font-weight: 800;
  font-size: 25px;
}
.destiny-card h5 {
  font-size: 20px;
}
.destiny-card h4 {
  color: var(--text-main);
  font-size: 25px;
}
.destiny-card-text {
  display: flex;
  flex-direction: column;
  max-width: 50px;
  gap: 13px;
}
.destiny-card-text-2 {
  display: flex;
  flex-direction: column;
  max-width: 50px;
}
/*============= SECTION CONTACTO =============*/
.contacto{
  background-image: url(../assets/fondo-medio.jpg);
  height:60dvh;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}
.contacto h2{
  width: 83%;
  display: flex;
  justify-content: end;
  color: var(--color-quin);
  font-family: var(--font-ter);
  font-size: 80px;
  text-transform: capitalize;
}